

.blog-header-logo {
	color: #fff;
    font-family: "Georgia", serif;
    font-size: 2.25rem;
}

.blog-header{
	border-bottom: 1px solid #8c8b8b;
}

.text-dark {
    color: #fff!important;
}

.bg-dark {
    background-color: #000!important;
}



.navbar-toggler-icon {
	color:#fff;
}

.space {
	border-bottom: 1px solid #8c8b8b;
}

.header {
	border-bottom: 1px solid #8c8b8b;
}

.black-text-link {
	text-transform: none;
	color: #000;
	background-color: none;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}


.jumbotron {
	padding: 0rem 0rem;
}

.navbar-dark .navbar-toggler {
    color: rgba(255,255,255,.5);
    border-color: transparent;
}

.navbar-toggler {
    padding: 0rem .35rem;
    font-size: 1.25rem;
    line-height: 1;
    background-color: transparent;
    border: 1px solid transparent;
    border-radius: .25rem;
}

